  <md-dialog aria-label={{label}} flex="50"  ng-cloak>
  <md-toolbar>
      <div class="md-toolbar-tools">
        
		<span>{{label}}</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
	
  <md-input-container class="md-icon-float md-icon-right md-block">
 
<!-- Use floating label instead of placeholder --><label>Title</label>
 <br>
 
<input ng-model="track.title" type="text">
</md-input-container>


      <md-select ng-model="track.genres" placeholder ="select geners" multiple l>
          
          <md-optgroup label="Genres">
          <md-option ng-repeat="gen in geners" ng-value="gen.id">{{gen.name}}</md-option>
       </md-optgroup>
        </md-select>
 


     
       
		<br>

		 
		
 <label>Select the rating</label>
  
     <star-rating flex="50" flex-sm="80" class="star-rating" rating-value="track.rating"

 data-max="5" readonly="false"  on-rating-selected="rateFunction(rating)"></star-rating>
  
  
      <div class="md-actions" layout="row"> <span flex></span> <md-button ng-click="cancel()"> Cancel </md-button> <md-button ng-click="addtrack()" class="md-primary"> Save </md-button> </div>
	  
		 
</md-dialog>
  